torch 
torchvision
pytorch-lightning
matplotlib
lmdb
scipy
opencv-python
scikit-learn
scikit-image
pandas
tqdm
pillow
ipython[all]
jupyter
trimesh
meshzoo
shapely
rtree
pyglet
visdom
absl-py
pymesh
mlflow
wandb
comet_ml
yattag
edict
hydra-core
easydict
click
horovod
seaborn
flake8
pep8-naming
black
pylint