torch 
torchvision
tensorflow
tensorboard
tensorboardX
matplotlib
lmdb
scipy
opencv-python
scikit-learn
scikit-image
pandas
tqdm
pillow
ipython[all]
jupyter
trimesh
meshzoo
shapely
rtree
pyglet
visdom
absl-py
pymesh